/* Slide animation */
.slide-up {
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.9s ease-in-out;
}

#welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.welcome-logo {
    width: 120px;
    margin-bottom: 20px;
}

.welcome-text {
    font-size: 60px;
    font-weight: bold;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    text-align: center;
}

#logo-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
}

.big-logo {
    width: 400px;
    height: 400px;
}
